* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root 
{
  --brand-color: #EF5F4C;
  --bg-color: #FFFFFF;
  --surface-color: #F5F5F5;
  --skeleton-color: #D9D9D9;
  --shape-transparency: #ffffff8f;
  --text-color-primary: #313131;
  --text-color-secondary: #6C6C6C;

  --font-family: "Poppins", sans-serif;
  --text-lg: bold 32px/125% var(--font-family);
  --text: 16px/150% var(--font-family);
  --text-md: 14px/170% var(--font-family);
  --text-sm: 12px/170% var(--font-family);

  --lt-spacing: -2.5px;
  --lt-h1-spacing: -5px;

  --nav-height-lines: 0.7rem;
}

body 
{
  font: var(--text);
  color: var(--text-color-secondary);
  background-color: var(--bg-color);
}

a 
{
  text-decoration: none;
  color: inherit;

  /* width: max-content; */
}

.container 
{
  padding-inline: 32px;
  margin-inline: auto;

  max-width: 1280px;
}

.bg-surface-color
{
  background-color: var(--surface-color);
}