header 
{
  display: flex;

  padding-block: 32px;

  justify-content: space-between;
  align-items: center;

  font: var(--text-md);
}

header #profile
{
  display: flex;

  gap: 32px;
}

header #profile img
{
  width: 176px;
  height: 176px;
  object-fit: cover;
  border-radius: 50%;
}

header #profile #text-profile
{
  display: flex;

  flex-direction: column;
  gap: 8px;

  max-width: 384px;
}

header #profile #text-profile h1
{
  font: var(--text-lg);

  color: var(--text-color-primary);
}

header #info
{
  display: flex;

  flex-direction: column;
  justify-content: center;
  gap: 16px;

  width: 280px;
}

header #info li 
{
  display: flex;
  
  align-items: center;
  gap: 8px;
}