nav 
{
  display: flex;
  
  justify-content: space-between;
  padding-block: 20px;

  line-height: 0;
}

nav ul 
{
  display: flex;
  
  align-items: center;
  gap: 24px;

  list-style: none;
}

nav ul li:last-child img 
{
  width: 40px;
  height: 40px;
}